[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "6.2.4"
flake8 = "3.9.2"
Flask = "1.1.2"

[packages]
kivy  = "2.0.0"

[requires]
python_version = "3.9"
